

/*
* ----------------------------------------------------------------------------------------
* 01.GLOBAL CSS STYLE
* 02.PRELOADER & BOUNCE CCS STYLE
* 03.HOMEPAGE CSS STYLE
* 04.ABOUT CSS STYLE
* 05.SERVICE CSS STYLE
* 06.WORK CSS STYLE
* 07.TESTIMONIAL CSS STYLE
* 08.CONTACT CSS STYLE
* 09.FOOTER CSS STYLE
* ----------------------------------------------------------------------------------------
*/


/*
* ----------------------------------------------------------------------------------------
* 01.GLOBAL STYLE
* ----------------------------------------------------------------------------------------
*/

body {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;
    height: 100%;
    font-family: 'Lato', sans-serif;
}

html,
body {
    height: 100%
}

h1,
h2,
h3,
h4,
h5,
h6 {}

a {
    text-decoration: none;
    -webkit-transition: all 0.4s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

img {
    width: 100%;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

a:focus {
    outline: none;
    text-decoration: none;
}

p {
    line-height: 32px;
}

ul,
li {
    margin: 0;
    padding: 0;
}

fieldset {
    border: 0 none;
    margin: 0 auto;
    padding: 0;
}

.no-padding {
    padding: 0
}

.section-padding {
    padding: 70px 0px;
}

.section-title {
    text-align: center;
}

.section-title h2 {
    margin-top: 0;
    font-weight: 900;
}

.section-title p {
    font-weight: 300;
}

a.read-more {
    display: inline-block;
    background: #0B858D;
    color: #fff;
    padding: 12px 16px;
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

a.read-more:hover {
    -webkit-transition: .3s;
    transition: .3s;
    box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}


/*
* ----------------------------------------------------------------------------------------
* 02.PRELOADER & BOUNCE CCS STYLE
* ----------------------------------------------------------------------------------------
*/

.preloader {
    background: #fff;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
}

.status-mes {
    width: 55px;
    height: 55px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -26px 0 0 -26px;
    font-size: 10px;
    text-indent: -12345px;
    border-top: 5px solid rgba(0, 0, 0, 0.08);
    border-right: 5px solid rgba(0, 0, 0, 0.08);
    border-bottom: 5px solid rgba(0, 0, 0, 0.08);
    border-left: 5px solid #000;
    border-radius: 50%;
    -webkit-animation: spinner 700ms infinite linear;
    animation: spinner 700ms infinite linear;
    z-index: 10000;
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/*
* ----------------------------------------------------------------------------------------
* 03.HOMEPAGE CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.welcome-area {
    height: 100%;
}

.welcome-image-area {
    position: relative;
    height: 100%;
    background: url(../images/bg/bg.jpg);
    background-size: cover;
    z-index: 1;
}

.welcome-image-area:after {
    position: absolute;
    background: rgba(0, 0, 0, .7);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
}

.display-table {
    display: table;
    width: 100%;
    height: 100%;
}

.display-table-cell {
    display: table-cell;
    vertical-align: middle;
}

.header-text {}

.welcome-image-area h2 {
    color: #f8f8f8;
    font-size: 50px;
    letter-spacing: 5px;
    margin: 0;
}

.welcome-image-area p {
    color: #f8f8f8;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 12px;
}

.header-top-area {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.logo {
    padding-top: 28px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.logo a {
    display: block;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: 900;
    font-size: 14px;
}

.mainmenu .navbar-nav li a {
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 30px 15px;
    -webkit-transition: .3s;
    transition: .3s;
    font-weight: 600;
}

.mainmenu .navbar-nav li a:hover {
    background: none;
    color: #fff;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.nav li a:focus,
.nav li a:hover {
    background: none;
    color: #fff;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navbar {
    margin: 0;
}

.menu-bg {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background: #000;
}

.menu-bg .logo {
    padding-top: 18px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.menu-bg .mainmenu .navbar-nav li a {
    color: #fff;
    padding: 20px 15px;
    -webkit-transition: .3s;
    transition: .3s;
}

.menu-bg .mainmenu .navbar-nav li a:hover {
    color: #fff;
}
a.home-btn {
    margin-top: 40px;
    display: inline-block;
    color: #fff;
    background: transparent;
    padding: 10px 25px;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 100px;
}


/*
* ----------------------------------------------------------------------------------------
* 04.ABOUT CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.about-text {
    margin-top: 30px;
}

.about-text h2 {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 900;
}

.social-links {
    margin-top: 20px;
}

.social-links ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.social-links ul li {
    display: inline-block;
    margin: 0px 10px;
}

.social-links ul li a {
    display: block;
    color: #fff;
}

.social-links ul li a:hover {
    color: #FFC815;
}


/*
* ----------------------------------------------------------------------------------------
* 05.SERVICE CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.services-area {
    background: #F9F9F9;
}

.single-service {
    margin-top: 80px;
}

.single-service i {
    font-size: 80px;
    margin-bottom: 10px;
}

.single-service h2 {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 4px;
    margin: 20px 0px;
}

.single-service p {
    line-height: 25px;
}


/*
* ----------------------------------------------------------------------------------------
* 06.WORK CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.work {}

.work-inner .mix {
    display: none;
}

ul.work {
    padding: 0;
    list-style: none;
    margin-top: 30px;
    margin-left: 8px;
    text-align: center;
}

ul.work li {
    display: inline-block;
    padding: 8px 12px;
    margin: 0 8px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border: none;
    cursor: pointer;
    font-size: 12px;
}

ul.work li:hover {
    color: #000;
    border: none;
}

ul.work li.active {
    border: none;
    color: #000;
}

.work .item {
    margin-top: 30px;
    position: relative;
}

.work .item img {
    width: 100%;
}

.item {
    -webkit-transition: .3s;
    transition: .3s;
}



/*
* ----------------------------------------------------------------------------------------
* 07.TESTIMONIAL CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.testimonial-area {
    background: #F9F9F9;
}

.testimonial-list {
    padding: 30px;
    margin-top: 30px;
}

.single-testimonial {
    padding: 0px 100px;
}

.single-testimonial h2 {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 4px;
    margin: 20px 0px;
}

.single-testimonial p {
    line-height: 25px;
}

.owl-theme .owl-controls {
    margin-top: 30px;
}

.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 20px;
    height: 5px;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);
    opacity: .5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    background: #000;
}


/*
* ----------------------------------------------------------------------------------------
* 08.CONTACT CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.contact-form {
    background-color: #ffffff;
    border-radius: 3px;
    margin-top: 30px;
}

.form-control {
    display: block;
    border: 0px;
    width: 100%;
    height: 45px;
    padding: 5px 0px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    background-image: none;
    border-radius: 0px;
    box-shadow: none;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    margin-bottom: 25px;
}

.form-control:focus {
    border-color: #000;
    outline: 0;
    box-shadow: none;
}

.contact-form input[type='submit'] {
    display: inline-block;
    color: #333;
    background: transparent;
    padding: 10px 25px;
    border: 2px solid rgba(0, 0, 0, .5);
    border-radius: 100px;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn:active:focus, .btn:focus {
	outline: none;
}
.success {
    background: #fff none repeat scroll 0 0;
    color: #50B948;
    font-weight: 700;
    padding: 20px;
    text-align: center;
}


/*
* ----------------------------------------------------------------------------------------
* 09.FOOTER CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.footer-area {
    background: #000;
    padding: 80px 0px;
    color: #f8f8f8;
}

.footer-area p {
    font-size: 14px;
}

/*
* ----------------------------------------------------------------------------------------
* 10.CUSTOM CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.iconcenter {
    text-align:center;
}

.footer-area {
    position: relative;
    background: url(../images/bg/bg.jpg);
    background-size: cover;
    z-index: 1;
}

.footer-image-area:after {
    position: absolute;
    background: rgba(0, 0, 0, .4);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
}

figure { 
  display: block; 
  position: relative; 
  overflow: hidden; 
}

figcaption { 
  position: absolute; 
  color: white; 
  padding: 50px 20px; 
  font-family: 'Poppins', sans-serif;

  opacity: 0;
  bottom: -30%; 
  left: 0%;
  -webkit-transition: all 0.3s ease;
  -moz-transition:    all 0.3s ease;
  -o-transition:      all 0.3s ease;
}

figure:hover figcaption {
  opacity: 1;
  color: white;
  bottom: 0;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}

figure figcaption {
    font-size: 1.25em;
}

.effect-lily:before {
    content:'\A';
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.9);
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}


.effect-lily:hover:before {
    content:'\A';
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.9);
    opacity:0.9;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    cursor: pointer;
}

img:hover {
    margin-right:-30px;
    transition: margin 1s;
    cursor: pointer;
}

figure p {
    color: orange;
}

.privacy-modal {
    padding-top: 60px;
    margin: 0;
    width: auto;
}

.modal-dialog {
    margin: 0;
    height:100%;
    width: auto;
}

.modal-content {
    border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    min-height: 100%;
    padding: 200px 0;
}

.modal-body {
    position: relative;
    text-align: left;
}

.modal-body h2 {
    text-align: center;
}

.modal-body h4 {
    padding-top:10px;
}

.modal-body li {
    margin: 20px;
}

.terms-links > li {
    display: inline-block;
}

.closemodal {
    display: inline-block;
    color: #333;
    background: transparent;
    padding: 10px 25px;
    border: 2px solid rgba(0, 0, 0, .5);
    border-radius: 100px;
}

.closebutton {
    text-align: center;
}

.section-heading-spacer {
    float: center;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}
